<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteamVRManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SteamVRManager.Properties.Settings>
            <setting name="svrSettingsPath" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\config\steamvr.vrsettings</value>
            </setting>
            <setting name="useDashboardFix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rescanOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="launchWithWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="svrManagerPollingRateIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="overrideAudioVol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="volEnterVR" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="volExitVR" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="svrMangerPollingRate" serializeAs="String">
                <value>7000</value>
            </setting>
            <setting name="startMinimized" serializeAs="String">
                <value>False</value>
            </setting>
        </SteamVRManager.Properties.Settings>
    </userSettings>
</configuration>